h1 {
    color:#39F;
    text-align: center;
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 30px;
    box-shadow: -3px 1px #d00909;
    background-color: #FAC937;
}

div#container {
    margin-top: 7%;
    width: 1270px;
    margin-left: auto;
    margin-right: auto;
}

.myBoard {
    display: inline;
}

.theirBoard {
    transform: scale(-1, 1);
    position: relative;
    float: right;
    top: -200px;
    display: inline;
    margin-right: 60%;
}

.board-col .btn:nth-of-type(2) {
    position: relative;
    top: 26px;
}

.board-col .btn:nth-of-type(3) {
    position: relative;
    top: 51px;
}

.board-col .btn:nth-of-type(4) {
    position: relative;
    top: 75px;
}

button.btn.btn-error {
    float: right;
}

.menu .btn:nth-of-type(1) {
    float: right;
}
