
#app {
    margin: 0 auto;
    margin-top: 5%;
}


.nav {
    text-align: center;
}



.palette-blue {
    color:white;
    background-color:blue;
}

.palette-red {
    color:white;
    background-color:blue;
}