h1 {
    color: white;
    text-align: left;
    padding-left: 2%;
    text-transform: uppercase;
    background-color: red;
    padding: 2%;
    font-size: 4em;
    font-weight: bold;
}

.btn-primary {
    font-size: 3em;
    text-transform: uppercase;
    justify-content: center;
    text-decoration: none;
    color: rgb(43, 178, 76);
    background-color: rgba(200, 200, 200, .3);
    box-shadow: 1px 1px 20px 3px grey;
    border-radius: 6px;
}

.btn-primary:hover {
    font-size: 3em;
    text-transform: uppercase;
    justify-content: center;
    text-decoration: none;
    color: rgb(43, 178, 76);
    background-color: rgba(100, 100, 100, .3);
    box-shadow: 1px 1px 30px 5px grey;
    border-radius: 6px;
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 30px;
    box-shadow: -3px 9px red;
    background: linear-gradient(#ccc, #eee, #fcf8e3);
}

.btn-circle:hover {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 30px;
    box-shadow: -3px 15px red;
    background: rgba(43, 178, 76, .8);
    border-color: grey;
    border-width: 5px;
    border-style: double;
}


.status {
    width: 160px;
}

.myBoard {

}

.theirBoard {
    transform: scale(-1, 1);

}

.board-col .btn:nth-of-type(2) {
    position: relative;
    top: 26px;
}

.board-col .btn:nth-of-type(3) {
    position: relative;
    top: 51px;
}

.board-col .btn:nth-of-type(4) {
    position: relative;
    top: 75px;
}

.menu .btn {
    font-size: 2em;
    text-transform: uppercase;
    justify-content: center;
    text-decoration: none;
    color: rgb(43, 178, 76);
    background-color: rgba(200, 200, 200, .3);
    box-shadow: 1px 1px 30px 5px grey;
    border-radius: 6px;
}

.menu .button:hover {
    font-size: 3em;
    text-transform: uppercase;
    justify-content: center;
    text-decoration: none;
    color: rgb(43, 178, 76);
    background-color: rgba(100, 100, 100, .3);
    box-shadow: 1px 1px 30px 5px grey;
    border-radius: 6px;
}
